master/Santorini/src/main/java/it/polimi/ingsw/communication/message/xml/message_grammar.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="header" type="xs:string"/>
                <xs:element name="payload" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>